<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}
    <h2>Eliminar usuario</h2>
    <p>¿Seguro que deseas eliminar a <strong>{{ object.username }}</strong>?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Sí, eliminar</button>
        <a href="{% url 'user_list' %}">Cancelar</a>
    </form>
    {% endblock %}

</body>

</html>