<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {% block content %}
    <h2>Verificar código y cambiar contraseña</h2>
    <form method="post">
        {% csrf_token %}
        <p><label>{{ form.code.label }}:</label><br>{{ form.code }}</p>
        <p><label>{{ form.new_password1.label }}:</label><br>{{ form.new_password1 }}</p>
        <p><label>{{ form.new_password2.label }}:</label><br>{{ form.new_password2 }}</p>
        <button type="submit">Actualizar contraseña</button>
    </form>
    <p><a href="{% url 'password_reset_sms_request' %}">Volver a solicitar código</a></p>
    {% endblock %}

</body>

</html>